
<div class="container">
  <h1>
    <ul class="cities" *ngFor="let city of citiesCurrent" (click)="handleCitySelected(city)">
      <li>{{city.name}}</li>
    </ul>
  </h1>

  <div class="title" *ngIf="selectedCity">
    <h1>Selected City: {{selectedCity.name}} </h1>
    <div class="description">
      <img [src]="weatherIcon" alt="weatherIcon">
      <p>{{selectedCity.weather[0].description}}</p>
      <h1>{{selectedCity.main.temp}}</h1>
    </div>
  </div>

  <div *ngIf="selectedCityTempForecast">
    <app-weather-chart [data]="selectedCityTempForecast"></app-weather-chart>
  </div>
</div>
